<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.horzits.business.mapper.LyhDailyWordMapper">
    
    <resultMap type="com.horzits.business.domain.LyhDailyWord" id="LyhDailyWordResult">
        <result property="wordId"        column="word_id" />
        <result property="word"          column="word" />
        <result property="pronunciation" column="pronunciation" />
        <result property="definition"    column="definition" />
        <result property="wordDate"      column="word_date" />
        <result property="status"        column="status" />
        <result property="createBy"      column="create_by" />
        <result property="createTime"    column="create_time" />
        <result property="updateBy"      column="update_by" />
        <result property="updateTime"    column="update_time" />
    </resultMap>

    <sql id="selectLyhDailyWordVo">
        select word_id, word, pronunciation, definition, word_date, status, create_by, create_time, update_by, update_time
        from lyh_daily_word
    </sql>

    <select id="selectLyhDailyWordList" parameterType="com.horzits.business.domain.LyhDailyWord" resultMap="LyhDailyWordResult">
        <include refid="selectLyhDailyWordVo"/>
        <where>
            <if test="status != null and status != ''"> and status = #{status}</if>
            <if test="word != null and word != ''"> and word like concat('%', #{word}, '%')</if>
            <if test="wordDate != null"> and word_date = #{wordDate}</if>
        </where>
        order by coalesce(word_date, create_time) desc, word_id desc
    </select>

    <select id="selectLyhDailyWordByWordId" parameterType="Long" resultMap="LyhDailyWordResult">
        <include refid="selectLyhDailyWordVo"/>
        where word_id = #{wordId}
    </select>

    <insert id="insertLyhDailyWord" parameterType="com.horzits.business.domain.LyhDailyWord" useGeneratedKeys="true" keyProperty="wordId">
        insert into lyh_daily_word
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="word != null and word != ''">word,</if>
            <if test="pronunciation != null and pronunciation != ''">pronunciation,</if>
            <if test="definition != null and definition != ''">definition,</if>
            <if test="wordDate != null">word_date,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="word != null and word != ''">#{word},</if>
            <if test="pronunciation != null and pronunciation != ''">#{pronunciation},</if>
            <if test="definition != null and definition != ''">#{definition},</if>
            <if test="wordDate != null">#{wordDate},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateLyhDailyWord" parameterType="com.horzits.business.domain.LyhDailyWord">
        update lyh_daily_word
        <trim prefix="SET" suffixOverrides=",">
            <if test="word != null and word != ''">word = #{word},</if>
            <if test="pronunciation != null and pronunciation != ''">pronunciation = #{pronunciation},</if>
            <if test="definition != null and definition != ''">definition = #{definition},</if>
            <if test="wordDate != null">word_date = #{wordDate},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where word_id = #{wordId}
    </update>

    <delete id="deleteLyhDailyWordByWordId" parameterType="Long">
        delete from lyh_daily_word where word_id = #{wordId}
    </delete>

    <delete id="deleteLyhDailyWordByWordIds" parameterType="String">
        delete from lyh_daily_word where word_id in 
        <foreach item="wordId" collection="array" open="(" separator="," close=")">
            #{wordId}
        </foreach>
    </delete>
</mapper>

